CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
/out/build/x64-debug
/out/**
/.vs/**
Fluid_engine/examples/test_torchlib/detect_cuda_compute_capabilities.cu
Fluid_engine/examples/test_torchlib/test_libtorch
